/*                         
*   Stylesheet: destination.html  
* 
*/

/* Link */
a{
  color:azure;
}

a:visited{
  color:rgba(240, 255, 255, 0.692);
}

/* Paragraph */
p{
  background-color: transparent;
  font-family: 'louis_george_cafebold';
  padding-bottom: 1rem;
  text-align: center;
  font-size: 18px;
}
p:nth-child(2n){
  background-color: rgba(204, 204, 204, 0.305);
}

.box p{
  text-align: left;
  line-height: 1em;
}

body {
  background-color: #1f5341;
  background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );  
}

h1{
  font-family: 'louis_george_cafebold';
  color: azure;
  text-shadow: 0px 0px 20px black; 
  font-size: 45px;
  text-align: center;
  margin: 20px;
}

.icon{
  position: relative;
  border-radius: 30px;
  width: 400px;
  height: 200px;
  background-color: #ffffff4b;

  box-shadow: 0 10px 0 rgba(255, 255, 255, 0.685),
  inset 0 -9px 0 rgba( 255, 255, 255, 0.25);
  z-index: 10000;
    
}

/* Noscript (JS desactivated) */
noscript{
  font-family: 'louis_george_cafebold';
  margin: 25px;
  color:rgb(247, 7, 7);
}

nav{
  padding: 5em;
}

/* Paragraph */
p{  
  font-family: 'louis_george_cafebold';
  margin: 25px;
  color:azure;
  margin-right: 10%;
  margin-left: 10%;
}

/* Logo */
.logo{
  opacity: 0;
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);

}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* ------ Font ------ */

@font-face {
  font-family: 'baby_dollregular';
  src: url('../font/font_babydoll_redhands/baby_doll-webfont.woff2') format('woff2'),
         url('../font/font_babydoll_redhands/baby_doll-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  
}
  
@font-face {
    font-family: 'louis_george_cafebold';
    src: url('../font/font_breadley_caf/louis_george_cafe_bold-webfont.woff2') format('woff2'),
         url('../font/font_breadley_caf/louis_george_cafe_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'breadley_sansregular';
    src: url('../font/font_breadley_caf/breadleysans-regular-webfont.woff2') format('woff2'),
         url('../font/font_breadley_caf/breadleysans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
/* -------------------- */

/* ------ Footer ------ */
body > footer {
  font-family: 'breadley_sansregular';
  margin-top: 4rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 1rem;
  text-align: center;
  border-top: 1px solid var(--border);
}
/* -------------------- */

/* ------ Form ------ */
form {
  display: flex;
  font-family:'louis_george_cafebold';
  color: azure;
	max-width: 50%;
	margin: auto;
	padding: 0.5rem 1rem;
}

.chat-form {
	background-color: rgba(255, 255, 255, 0.144);
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.box{
  background-color: rgba(255, 255, 255, 0.342);
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-right: 30%;
  margin-left: 30%;
}

.box .inner{
  height: 200px;
  overflow-y: auto;
}

input,
textarea{
	border: solid 1px #ccc;
	border-radius: 3px;
	display: inline-block;
	padding: 0.5rem 0.75rem;
	width: 100%;
	font-family: inherit;
	font-size: 1rem;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	box-shadow: 0 0 0 2pt rgb(255, 255, 255);
}


/* Media Queries */

@media (min-width:800px) and (max-width:1500px){

.box{
  margin-right: 10%;
  margin-left: 10%;
}

p{
  font-size: 20px;
}

form{
  display: flex;
  max-width: 30%;
  margin: auto;
}
}

@media (max-width:800px) and (max-height:1000px){
  
.box{
  margin-right: 10%;
  margin-left: 10%;
}

p{
  font-size: 20px;
}

form{
  display:flex;
  max-width: 30%;
  margin: auto;
}
}


