/*                         
*   Stylesheet: index.html  
* 
*/

body {
  margin:0;
  padding: 0;
  background-color: #11221c;
  background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
  
}

/* Link */

a{
  color:azure;
}

a:visited{
  color:rgba(240, 255, 255, 0.692);
}

/* Video */
.video-wrapper{
  padding:0;
  position: fixed;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

#videocontener{
  width:90%;
  object-fit: cover;
  box-shadow: 12px 9px 13px rgba(0, 0, 0, 0.5);
}


/* Header + Title */
header {  
    font-family: 'gin_and_soda_personal_useRg';
    text-align: center;
    padding: 5%;
    background-repeat: no-repeat;
    background-size: cover  ;
    background-position: center;
    top:0;
    left:0;

}

h1{
  color: azure;
  text-shadow: 0px 0px 20px black; 
}

h1#principal{ 
  font-size:10vw;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

h1#slogan{
  font-family: 'louis_george_cafebold';
  opacity: 4;
  filter: blur(4px);
  font-size:35px;
  font-style: italic;
  border: 0.3vw solid rgba(255, 255, 255, 0.562);
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

h2{
  font-size: 3vw;
}

h3{
  font-family: 'breadley_sansregular';
  color: azure;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-size: 30px;
  line-height: 28px;
}

h4{
  font-family: 'baby_dollregular';
}


/* Paragraph */
p{
  font-family: 'louis_george_cafebold';
  padding-bottom: 1rem;
  font-size: 18px;
  line-height: 28px;
}

/* Logo */
.logo{
  opacity: 0;
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);

}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* List */
li {
  font-family: 'louis_george_cafebold';
  display: inline-block; 
  opacity: 80%;
  padding: 2px;
  background-color: #dddddd;
  box-sizing : border-box;
  line-height: 24px;
  position: static;
  z-index:auto;
  background: linear-gradient(circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 50%);
  
}

#left{
  float: left;
  
}

#right{
  float: right
}


#nature{
  box-shadow: 12px 9px 13px rgba(0, 0, 0, 0.5);
}

/* Container */

.container { 
  background-color: #ffffff4f;
	animation: gradient 15s ease infinite;
	height: 100vh;
  max-width: 20vw;
  min-width: 10em;
  max-height: 65vw;
  min-height: 30em;
  overflow: scroll;
  border-radius: 10px;
  margin: 10vw;
  padding: 5vw;
  border: 3px solid #ffffff; 
  text-align: center;
  height: 30vw;
  transition: transform 0.8s;
}

.container:hover{
  transform: translateY(-10px);
  opacity: 100%;
}

.normal{
  margin:10vw;
}


/* Flex-box CSS */

.color-list {
  font-family: 'breadley_sansregular';
  font-size:10px;
  color:black;
  display: flex;
  text-align: center;
  justify-content: center;
}


.volet {
  flex: 0 0 20%; /*flex-grow | flex-shrink | flex-basis*/
  opacity: 0;
  filter: drop-shadow(4px);
  box-shadow: 0 0 30px #424242;
  padding: 1em;
  color: rgba(0, 0, 0, 0.473);
  transition: all 0.5s ease-in-out;
  animation: fade 2s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade {
  100% {
    opacity: 1;
    filter: drop-shadow(4);
  }
}

.volet:hover{
    flex-basis: 30%;
}

.advice{
  font-family: 'baby_dollregular';;
}

.name {
  font-size: 1.2vw;
  opacity: 1;
}

.details li {
  line-height: 2vw;
  
}


/* ------ Volets ------ */
#volet1 {
    background: #f4f4f48d; 
  
}

#volet2 {
    background: #f4f4f48d; 
    
}

#volet3 {
  background: #f4f4f48d; 
}

#volet4 {
  background: #f4f4f48d;
}
/* -------------------- */

#wel{
  color:azure;
  text-align: center;
  opacity: 0;
  animation: fade-in 2s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* ------ Footer ------ */
body > footer {
  font-family: 'breadley_sansregular';
  margin-top: 4rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 1rem;
  text-align: center;
  border-top: 1px solid var(--border);
}
/* -------------------- */

/* ------ Font ------ */
@font-face {
  font-family: 'gin_and_soda_personal_useRg';
  src: url('../font/font_title/gin_and_soda_personal_use-webfont.woff2') format('woff2'),
       url('../font/font_title/gin_and_soda_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  font-family: 'simple_tfbregular';
  src: url('../font/font_simple/simple_tfb-webfont.woff2') format('woff2'),
       url('../font/font_simple/simple_tfb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'simpleton_gothicregular';
  src: url('../font/font_simpleton/simpleton-gothic-webfont.woff2') format('woff2'),
       url('../font/simpleton-gothic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'baby_dollregular';
  src: url('../font/font_babydoll_redhands/baby_doll-webfont.woff2') format('woff2'),
       url('../font/font_babydoll_redhands/baby_doll-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'kg_red_handsregular';
  src: url('../font/font_babydoll_redhands/kgredhands-webfont.woff2') format('woff2'),
       url('../font/font_babydoll_redhands/kgredhands-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'louis_george_cafebold';
  src: url('../font/font_breadley_caf/louis_george_cafe_bold-webfont.woff2') format('woff2'),
       url('../font/font_breadley_caf/louis_george_cafe_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'breadley_sansregular';
  src: url('../font/font_breadley_caf/breadleysans-regular-webfont.woff2') format('woff2'),
       url('../font/font_breadley_caf/breadleysans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
/* -------------------- */
 

/* Media Queries */

@media (min-width:820px) and (max-width:1500px){

h1#principal{ 
  font-size:20vw;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}


.name {
  font-size: 4vw;
  opacity: 1;
}  

#videocontener{
  width:120%;
  height:30%;
  object-fit: cover;
  box-shadow: 12px 9px 13px rgba(0, 0, 0, 0.5);
}
 
#nature{
  width:120%;
  height:30%;
  align-items: center;
  box-shadow: 12px 9px 13px rgba(0, 0, 0, 0.5);
}
  
.container { 
  background-color: #ffffff4f;
  margin-left:25%;
  margin-right: 25%;
  animation: gradient 15s ease infinite;
  overflow: scroll;
  border-radius: 10px;
  padding: 15vw;
  border: 3px solid #ffffff; 
  transition: transform 0.8s;
}

.color-list {
  font-family: 'breadley_sansregular';
  font-size:5px;
  color:black;
  display: flex;
  justify-content: center;
}
 
p{
  font-family: 'louis_george_cafebold';
  justify-content: center;
  font-size:20;
}
  
}

@media (max-width:800px) and (max-height:1000px){
h1#principal{ 
  font-size:20vw;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.name {
  font-size: 4vw;
  opacity: 1;
}  

#videocontener{
  width:120%;
  height:30%;
  object-fit: cover;
  box-shadow: 12px 9px 13px rgba(0, 0, 0, 0.5);
}

  
#nature{
  width:120%;
  height:30%;
  align-items: center;
  box-shadow: 12px 9px 13px rgba(0, 0, 0, 0.5);
}
  
.container { 
  background-color: #ffffff4f;
  margin-left:15%;
  margin-right:15%;
  animation: gradient 15s ease infinite;
  overflow: scroll;
  border-radius: 10px;
  padding: 15vw;
  border: 3px solid #ffffff; 
  transition: transform 0.8s;
}

.color-list {
  font-family: 'breadley_sansregular';
  font-size:5px;
  color:black;
  display: flex;
  justify-content: center;
}

  
p{
  font-family: 'louis_george_cafebold';
  justify-content: center;
  font-size: 20;
}
  
}


