/*                         
*   Stylesheet: destination.html  
* 
*/

body {
  background-color: #11221c;
  background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );  
}

/* Link */

a{
  color:azure;
}

a:visited{
  color:rgba(240, 255, 255, 0.692);
}

/* Video */

.video-wrapper{
  opacity: 25%;
  padding: 0;
  position: fixed;
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
}

#videoBG{
  min-width: 100rem;
  min-height: 100rem;
}

/* Header + Title */
header {  
  font-family: 'gin_and_soda_personal_useRg';
  text-align: center;
  padding: 5%;
  background-repeat: no-repeat;
  background-size: cover  ;
  background-position: center;
}

h1#maintitle{ 
  font-family: 'retroicaregular';
  color: azure;
  text-shadow: 0px 0px 20px black;   
  font-size: 8vw;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

h1{
  color: azure;
  text-shadow: 0px 0px 20px black; 
  font-family: 'breadley_sansregular';
  font-size: 45px;
  margin: 20px;
}

h2{
  font-family: 'breadley_sansregular';
  color: rgba(240, 255, 255, 0.712);
  text-shadow: 0px 0px 20px black; 
  font-size: 35px;
  margin: 20px;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

/* Container */

.container{
  background-color: rgba(240, 248, 255, 0.158);
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}

/* Card */

.card{
  position: relative;
  opacity: 0;
  width: 400px;
  height: 400px;
  margin: 30px;
  border-radius: 30px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 15px 0 #fff,
  inset 0 -10px 0 rgba( 255, 255, 255, 0.25),
  0 45px 0 rgba(0, 0, 0, 0.15);
  filter: blur(5px);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.623), rgba(255, 255, 255, 0));
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: fade-in 1s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  transition: transform 0.8s;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.card:hover{
  transform: translateY(-30px);
}

.text{
  opacity: 0;
  margin: 0px;
  justify-content: end;
  padding: 15px;
}

.description{
  opacity: 50%;
  padding: 15px;
}

.description:hover{
  opacity: 100%; 
}

.text:hover{
  animation: fade-in 1s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  transition: transform 0.8s;
}

.icon{
  position: relative;
  border-radius: 30px;
  width: 400px;
  height: 200px;
  background-color: #ffffff4b;

  box-shadow: 0 10px 0 rgba(255, 255, 255, 0.685),
  inset 0 -9px 0 rgba( 255, 255, 255, 0.25);
  z-index: 10000;
    
}

.norv{
  background-image: url(img/pays/Skudeneshavn.jpg);
}

.val{
  background-image: url(img/pays/Valladolid.jpg);
}

.carcross{
  background-image: url(img/pays/Carcross.jpg);
}

/* Flex-box CSS */

.color-list {
  padding: 50px;
  font-family: 'breadley_sansregular';
  font-size: 10px;
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
}

.volet {
  flex: 0 0 20%; /*flex-grow | flex-shrink | flex-basis*/
  box-shadow: 0 0 30px #424242;
  padding: 1em;
  color: rgba(0, 0, 0, 0.473);
  transition: all 0.5s ease-in-out;
}
  
.volet:hover{
  flex-basis: 30%;
}
  
.name {
  font-size: 1.2vw;
  opacity: 1;
}

/* Noscript (JS desactivated) */
noscript{
  font-family: 'louis_george_cafebold';
  margin: 25px;
  color: rgb(247, 7, 7);
}

/* Paragraph */
p{  
  font-family: 'louis_george_cafebold';
  margin: 25px;
  color: azure;
  margin-right: 10%;
  margin-left: 10%;
}

/* Logo */
.logo{
  opacity: 0;
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);

}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


/* ------ Volets ------ */
#volet1 {
  background: #f4f4f48d;  
}

#volet2 {
  background: #f4f4f48d;   
}

#volet3 {
  background: #f4f4f48d; 
}

#volet4 {
  background: #f4f4f48d;
}
/* -------------------- */

/* List */
ul{
  font-family: 'louis_george_cafebold';
  list-style-type:unset;
  color: azure;
}

ul li::before{
  margin-right:5px;
  color: #baa2eb
}

/* ------ Font ------ */
@font-face {
  font-family: 'retroicaregular';
  src: url('../font/font_title/retroica-webfont.woff2') format('woff2'),
       url('../font/font_tile/retroica-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'baby_dollregular';
  src: url('../font/font_babydoll_redhands/baby_doll-webfont.woff2') format('woff2'),
         url('../font/font_babydoll_redhands/baby_doll-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  
}
  
@font-face {
    font-family: 'louis_george_cafebold';
    src: url('../font/font_breadley_caf/louis_george_cafe_bold-webfont.woff2') format('woff2'),
         url('../font/font_breadley_caf/louis_george_cafe_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'breadley_sansregular';
    src: url('../font/font_breadley_caf/breadleysans-regular-webfont.woff2') format('woff2'),
         url('../font/font_breadley_caf/breadleysans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
/* -------------------- */

/* ------ Footer ------ */
body > footer {
  font-family: 'breadley_sansregular';
  margin-top: 4rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 1rem;
  text-align: center;
  border-top: 1px solid var(--border);
}
/* -------------------- */

/* ------ Form ------ */
form {
  font-family: 'louis_george_cafebold';
  color: azure;
	max-width: 25%;
	margin: 10px auto;
	padding: 0.5rem 1rem;
}

.container_register {
	background-color: rgba(255, 255, 255, 0.144);
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

form h1 {
	padding: 5px 0;
	font-size: 1.4rem;
	font-weight: normal;
	text-align: center;
	color: rgb(255, 255, 255);
}

span{
  color:#dc3545;
}

.field {
	margin-bottom: 0.75rem;
}

.field small {
	color: #dc3545;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	vertical-align: top;
	width: 100%;
}

input,
textarea,
select {
	border: solid 1px #ccc;
	border-radius: 3px;
	display: inline-block;
	padding: 0.5rem 0.75rem;
	width: 100%;
	font-family: inherit;
	font-size: 1rem;
}

input::placeholder {
	color: #c2c2c2;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	box-shadow: 0 0 0 2pt rgb(49, 132, 253, 0.5);
}

input[disabled],
textarea[disabled] {
	background-color: #f5f5f5;
	box-shadow: none;
	color: #7a7a7a;
	cursor: not-allowed;
}

/* input error */
input.error,
textarea.error,
select.error {
	border-color: #dc3545;
}

input.error:focus,
textarea.error:focus,
select.error:focus {
	box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

input.success,
textarea.success,
select.success {
	border-color: #198754;
}

input.success:focus,
textarea.success:focus {
	box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}


button {
	background: #0d6dfd28;
	color: #fff;
	border-radius: 0.25rem;
	font-size: 1rem;
	font-weight: 400;
	border: 1px solid #0d6efd;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
	box-shadow 0.15s ease-in-out;
	text-align: center;
	padding: 0.375rem 0.75rem;
}

button:hover {
	background: #0b5dd749;
	border-color: #0a57ca4f;
	cursor: pointer;
}

label.radio,
label.checkbox {
	width: auto;
	cursor: pointer;
	display: inline-block;
	position: relative;
	border-radius: 5px;
}

.stack label.radio,
.stack label.checkbox {
	display: block;
	margin-left: auto;
}

.radio + .radio,
.checkbox + .checkbox {
	margin-left: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: baseline;
	width: auto;
}

.vertical label,
.vertical input,
.vertical textarea {
	display: block;
	width: 100%;
}

.horizontal .field {
	display: grid;
	grid-template-columns: 20% 1fr;
	gap: 1rem 1rem;
	align-items: center;
	margin-bottom: 1rem;
}
.horizontal .field label {
	grid-column: 1 / 2;
	text-align: left;
}

.horizontal .field label.radio,
.horizontal .field label.checkbox {
	grid-column: 2 / 3;
	text-align: left;
}

.horizontal .field input,
.horizontal .field button,
.horizontal .field small {
	grid-column: 2/3;
}

.error {
	color: #dc3545;
}
/* ------------- */

/* Media Queries */
@media screen and (max-width:900px){

.container { 
  background-color: transparent;
  margin: 0;
}

.name {
  font-size: 2vw;
  opacity: 1;
}  

}

@media (min-width:820px) and (max-width:1500px){

h1#maintitle{
  font-size: 12vw;
}

.name {
  font-size: 4vw;
  opacity: 1;
}  

#videocontener{
  width: 120%;
  height: 30%;
}
 
#nature{
  width: 120%;
  height: 30%;
}
  
.container { 
  margin-left: 25%;
  margin-right: 25%;
  padding: 15vw;
}

.field {
	width: 90%;
}
  
}

@media (max-width:800px) and (max-height:1000px){

h1#maintitle{
  font-size: 12vw;
}

.name {
  font-size: 4vw;
  opacity: 1;
}  

#videocontener{
  width: 120%;
  height: 30%;
}

  
#nature{
  width: 120%;
  height: 30%;
}
  
.container { 
  max-width: 40vw;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
  padding: 15vw;
}

.color-list {
  font-size: 5px;
}


.field {
	width: 90%;
}

form {
	max-width: 25%;
	margin: 10px auto;
}
  
}


